$orange: #ff6600;
$link: #1589c9;
$border: #e6ecf0;

html {
    height: 100%;

    body {
        height: 100%;
        margin: 0;

        #app {
            height: 100%;

            span, a, button {
                font-family: 'Noto Sans TC';
            }

            .btn-orange {
                background-color: $orange;
                color: white;
                font-weight: bold;
                border: 0;
            }

            .btn-white {
                background-color: white;
                color: $orange;
                font-weight: bold;
                border: 1px solid $orange;
            }

            .link {
                border: 0;
                background-color: white;
                color: $link;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }

            .page-container {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;

                .main-container {
                    border: 1px solid $border;
            
                    .main-header {
                        border-bottom: 1px solid $border;
                        height: 40px;
                        line-height: 40px;
                        padding-left: 20px;
            
                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }  
}

