html {
    height: 100%;

    body {
        height: 100%;
        margin: 0;

        #app {
            height: 100%;

            .btn-orange {
                background-color: #f7670f;
                color: white;
                font-weight: bold;
                border: 0;
            }

            .link {
                border: 0;
                background-color: white;
                color: #1589c9;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }

            .main-container {
                border: 1px solid #dddddd;
        
                .main-header {
                    border-bottom: 1px solid #dddddd;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 20px;
        
                    span {
                        font-weight: bold;
                    }
                }
            }

            .page-container {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
            }
        }
    }  
}

